.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5277a3;
  width: 100%;

  .logoWrapper {
    display: flex;
    align-items: center;
    width: 25%;
  }

  img {
    width: 50px;
    height: 40px;
    margin: 10px 20px;
    border-radius: 0 50% 50% 0;
    border: 2px solid white;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);
  }

  h1 {
    color: #f1f1f1;
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
  }

  a {
    text-decoration: none;
    font-size: 0;
  }

  .wrapper {
    position: relative;
    margin-left: 20px;
    padding-left: 16px;
    width: calc(75% - 36px);
    border-radius: 30px;
    background-color: #2c4a76;

    input {
      width: calc(100% - 44px);
      font-size: 15px;
      background-color: transparent;
      border: none;
      color: rgba(255, 255, 255, 0.9);
      outline: none;
      padding-left: 30px;
    }
    input::placeholder {
      color: #8cadd3;
    }

    &:focus-within svg {
      display: none;
    }

    svg {
      // color: red;
      position: absolute;
      fill: #8cadd3;
    }
  }
}
